* {
    box-sizing: border-box;
    font-family: Verdana;
    margin: 0;
    border: 0;
    padding: 0;
    /* border: solid 1px rgba(0, 0, 0, 0.158); */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E2E8F0;
}


.container {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 75px 1fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;

    background-color: #59c4fd;
    color: white;
    font-weight: 600;
    font-size: .9rem;
}

.sidebar>div {
    margin: 25px 5px;
}

.sidebar-top div,
.sidebar-mid div,
.sidebar-bottom div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar-top span {
    font-size: 1.2rem;
}

.icon {
    margin: 5px;
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/4555/4555444.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
}

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}